<div class="flex flex-col lg:flex-row md:justify-around w-full">
    <div class="flex flex-col w-1/4 items-center pt-10">

         <h2 class="text-white text-6xl tracking-widest">Game</h2>
        <h2 class="text-white text-6xl tracking-widest">Center</h2>
        <p class="text-white text-2xl text-center mt-7">
            On website, every player can also be a creator!
            Imagine a place where you can not only play
            amazing games but also make your own. 
            Join us, play new and original games crafted by other users,
            or create your own and become part of a growing community of passionate gamers and innovative creators!
        </p>

        <button class="rounded-3xl bg-gradient-to-r from-pink-600 to-orange-500 w-80 h-16 text-white text-4xl tracking-widest mt-7">Join Us</button>
    </div>
    <!--Slika-->
    <img src="../../assets/Slike/controller.png"/>
</div>
