<div class="flex flex-col lg:flex-row md:justify-around w-full">
    <div class="flex flex-col w-1/4 items-center pt-10">
        <span class="text-white text-4xl tracking-widest">Login</span>

        <form [formGroup]="loginForm" class="text-white">
            
            <!--EMAIL-->
            <div class="form-group pt-3">
                <label>Email</label>
                <div class="input-field" [class.error]="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">
                    <!-- <fa-icon [icon]="['fas', 'user']" style="color:rgb(63, 62, 62);"></fa-icon> -->
                    <input class="rounded-xl bg-transparent" formControlName="email" type="text" placeholder="Enter your email">
                </div>
            </div>
            <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')" class="text-red-600">*Email is required</small>

            <!--PASSWORD-->
            <div class="form-group pt-3">
                <label>Password</label>
                <div class="input-field" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                    <!-- <fa-icon [icon]="['fas', 'lock']" style="color:rgb(78, 76, 76);"></fa-icon> -->
                    <input class="rounded-xl bg-transparent" formControlName="password" [type]="type" placeholder="Password">
                    <!-- <fa-icon (click)="hideShowPass()" [icon]="['fas', eyeIcon]" style="color:rgb(78, 76, 76);"></fa-icon> -->
                </div>
            </div>
            <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-red-600">*Password is required! </small>
            
            <button (click)="onSubmit()" type="submit" class="btn btn-success btn-blcok mt-4 w-100"> Login </button>
            <div class="text-center pt-4 text-muted">Don't have an account?<a routerLink="/register" href="" class="sign">Sign Up</a> </div>
        </form>
    </div>
    <!--Slika-->
    <img src="../../../assets/Slike/loginUser.png"/>
</div>
